<h1 appMarcaTexto corDeFundo="red" corDoTexto="blue" class=" text-center"> Angular Diretivas </h1>

<!-- Diretivas de Atributo -->
<div 
  [ngStyle]="{background: count < 5 ? 'red' : 'green' }"
  [ngClass]="{custom: count > 5}"
  >
  <h2 class="text-center"> Contador: {{ count }} </h2>
</div>

<!-- Diretivas Estruturais -->
<h2 class="text-center" *ngIf="count > 7; else menor"> O contador passou de 7 !</h2> <!-- O asterisco " * ", está rodando o template de forma reduzida.  -->

<ng-template #menor>
  <h2 class="text-center"> O contador é menor que 7 !</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3"> <!-- Similar ao conceito do JS -->
 <li 
    class="list-group-item"
    *ngSwitchCase="3"
    >
  É igual a 3 </li>
  <li 
    class="list-group-item"
    *ngSwitchCase="5"
    >
  É igual a 5 </li>
  <li 
    class="list-group-item"
    *ngSwitchCase="8"
    >
  É igual a 8 </li>
  <li 
  class="list-group-item"
  *ngSwitchDefault=""
  >
 Esse é o Default </li>
</ul>

<ul class="list-group mx-auto col-3">
  <li 
  class="list-group-item"
  *ngFor="let pessoa of pessoas">
    O nome da pessoas é {{ pessoa.nome }} {{ pessoa.sobrenome }}  
  </li>
</ul>

<br><br>

<ul class="list-group mx-auto my-3 col-3">
  <ng-template ngFor let-pessoa [ngForOf]="pessoas"> <!-- Como o *ngFor funciona por trás. -->
    <li class="list-group-item">
      O nome da pessoas é {{ pessoa.nome }} {{ pessoa.sobrenome }}  
    </li>
  </ng-template>
</ul>

<div class="col-4 mx-auto my-3">
  <h3 appMarcaTexto corDeFundo="blue" corDoTexto="black" > {{ nome }}</h3> <!-- Dados do TypeScript para o view e vice versa -->
  <button class="btn btn-success col-4 mx-auto"  (click)="clicou('Ivonaldo')"> Clique </button>
</div>

<div class="col-4 mx-auto"> <!-- TWO WAY - data binding (aparece em ambos os lados da operação) -->
  <input 
  type="text" class="form-control" 
  placeholder="Digite alguma coisa"
  [(ngModel)]="text"
  >
  <h4> Saída : {{ text }}</h4>
</div>